* {
    padding: 0%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper{
    margin: auto;
    max-width: 960px;
}

.card-1, .card-3{
    
    border-color: rgb(58, 58, 58);
    border-radius:10px;
    margin: 10px;
    box-shadow: 1px 1px 6px rgb(133, 133, 133);

}
.header-amy{
   
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px;
}
.header-amy-column{
    border-radius: 12px;
    background-color: rgb(238, 237, 237);
    box-shadow: 1px 1px 6px rgb(133, 133, 133);
    margin: 10px;
}
.header-amy-column img , .header-amy-column p{
    margin: 8px;
    
}
.header-amy-column p{
    font-weight: bold;
    color: rgb(103, 67, 170);
}
.img-avatars-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.img-avatars-header img , .img-avatars-header h4 , .img-avatars-header a{
    margin: 5px;
    
}

.img-avatars-header img {
    width: 30px;
}

.img-avatars-header a{
    color: rgb(134, 134, 134);
}
.contenido-parrafo{
    color: rgb(134, 134, 134);
}
.container-avatar-central{
    margin: 10px;
}
.container-reply{
    display: flex;
    align-items: center;
}
.container-reply p{
    margin: 5px;
}
.container-reply img {

    margin: 5px;
}

.card-3{
}

.padre{
    border-left: 1px solid #cfcfcf;
    margin-left: 5rem;
    padding-left: 5rem;
}

/*------CAJA COMENTARIO------*/

.pie{
    border-color: rgb(58, 58, 58);
    border-radius:10px;
    margin: 10px;
    box-shadow: 1px 1px 6px rgb(133, 133, 133);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.pie div img{
    width: 40px;
}
.pie-comment{
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 335px;
    padding-bottom: 60px;
    border: #d6d6d6 solid 1px;
    border-radius: 5px;
}

.pie-button{
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: hsl(238, 40%, 52%);


}
